@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

code {
  font-family: 'Fira Code', monospace !important;
}

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', monospace !important;
  }
}

/* ---------------- SIDEBAR ---------------- */

.sidebar ul li a {
  font-size: 1rem;
}

.sidebar ul li a:not(.section-link) {
  font-weight: bold;
}

.app-sub-sidebar li::before {
  content: '';
}
